iconCap1 ICON "Icons\\realterm_R1.ico"
iconMatch1 ICON "Icons\\realterm_Y1.ico"
iconCap2 ICON "Icons\\realterm_R2.ico"
iconMatch2 ICON "Icons\\realterm_Y2.ico"
iconCap3 ICON "Icons\\realterm_R3.ico"
iconMatch3 ICON "Icons\\realterm_Y3.ico"
iconCap4 ICON "Icons\\realterm_R4.ico"
iconMatch4 ICON "Icons\\realterm_Y4.ico"
iconOpen ICON "Icons\\realterm_Icon.ico"
iconIdle ICON "Icons\\realterm_idle.ico"
Icon_1 ICON "Icons\\realterm_plain.ico"
iconOpen4 ICON "Icons\\realterm_G4.ico"
iconOpen3 ICON "Icons\\realterm_G3.ico"
iconOpen2 ICON "Icons\\realterm_G2.ico"
iconOpen1 ICON "Icons\\realterm_G1.ico"
iconSend1 ICON "Icons\\realterm_M1.ico"
IconSend2 ICON "Icons\\realterm_M2.ico"
IconSend3 ICON "Icons\\realterm_M3.ico"
IconSend4 ICON "Icons\\realterm_M4.ico"
iconWSDisconnect ICON "Icons\\realterm_C_all.ico"
iconClosed ICON "Icons\\realterm_portclosed.ico"
